---
http_interactions:
- request:
    method: get
    uri: http://dataservice.accuweather.com/locations/v1/28580?apikey=apikey
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Ratelimit-Limit:
      - '50'
      Ratelimit-Remaining:
      - '10'
      X-Location-Key:
      - '28580'
      X-Gmt-Offset:
      - '3'
      X-Location-Stem:
      - by/minsk/28580
      X-Station-Code:
      - UMMM
      Akamai-Grn:
      - 0.340cde17.1706797121.11b1b34c
    body:
      encoding: UTF-8
      string: '{"Version":1,"Key":"28580","Type":"City","Rank":20,"LocalizedName":"Minsk","EnglishName":"Minsk","PrimaryPostalCode":"","Region":{"ID":"EUR","LocalizedName":"Europe","EnglishName":"Europe"},"Country":{"ID":"BY","LocalizedName":"Belarus","EnglishName":"Belarus"},"AdministrativeArea":{"ID":"HM","LocalizedName":"Minsk
        City","EnglishName":"Minsk City","Level":1,"LocalizedType":"Municipality","EnglishType":"Municipality","CountryID":"BY"},"TimeZone":{"Code":"MSK","Name":"Europe/Minsk","GmtOffset":3.0,"IsDaylightSaving":false,"NextOffsetChange":null},"GeoPosition":{"Latitude":53.9,"Longitude":27.576,"Elevation":{"Metric":{"Value":213.0,"Unit":"m","UnitType":5},"Imperial":{"Value":698.0,"Unit":"ft","UnitType":0}}},"IsAlias":false,"SupplementalAdminAreas":[],"DataSets":["AirQualityCurrentConditions","AirQualityForecasts","DailyPollenForecast","ForecastConfidence","FutureRadar","MinuteCast"]}'
  recorded_at: Thu, 01 Feb 2024 14:18:41 GMT
recorded_with: VCR 6.2.0
